{% load static %}
    <div class="my-3 p-3 bg-white rounded shadow-sm">

<div class="media">
    <img src = "{{ question.author_id.img.url }}" style="width: 100px; height: 100px" class="mr-3">
    <div class="media-body">
        <h5 class="mt-0">
            <a href="{% url 'question_page' qid=question.id %}">{{ question.title }}</a>
        </h5>
        {{ question.text }}
                     {% if user.is_authenticated %}

            <div class="pad-ver">

            <button type="button" class="btn btn-outline-success">↑</button>
                <button type="button" class="btn btn-outline-warning">↓</button>
            </div>
        {% endif %}
    </div>

    <div class="pad-ver">
        <a href="{% url 'question_page' question.id %}" class="btn btn-sm btn-default btn-hover-primary">Answers :
            {% for k, v in answers.items %}
                {% if k ==  question.id %}
                    {{ v }}
                {% endif %}
                {% endfor %}
                </a>
                <span>tags:</span>
             {% for tag in question.tags.all %}
                 <a href="{% url 'tag_page' tag %}"><span>{{tag}}</span></a>
             {% endfor %}
            </div>

</div>
    </div>