{% load static %}


 {% if user.is_authenticated %}
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <div class="pad-ver">
            <form action="{% url 'leave_answer' question.id %}" method="post">
                {% csrf_token %}
                <div id="div_id_text" class="d-block text-capitalize">
                    <label for="id_text" class=" requiredField">Comment </label>
                    <textarea name="text" cols="90" rows="5" class="form-check" wrap="hard" required id="id_text"></textarea>
                </div>
                <button type="submit" class="btn btn-outline-info">Comment</button>
            </form>
        </div>
    </div>
 {% endif %}


    <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">All comments</h6>

        {% for comment in comments %}
        <div class="media text-muted pt-3">
      <img alt="{{ users.username }}" height="50px" class="answ-img" src="{{comment.author_id.profile.img.url}}">

            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">{{ comment.author_id}}</strong>
        {{ comment.text }}
    </div>
        {% endfor %}
        <div class="pagination">
    <span class="step-links">
        {% if comments.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ comments.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ comments.number }} of {{ comments.paginator.num_pages }}.
        </span>

        {% if comments.has_next %}
            <a href="?page={{ comments.next_page_number }}">next</a>
            <a href="?page={{ comments.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    </div>
