{% extends 'base.html' %}

{% block content %}


<main class="main ml-5" >
       <div class="my-3 p-3 bg-white rounded shadow-sm">
        <div class="form-section">
            <form action="{% url 'user_profile' %}" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-8">
                            {% for field in form %}
                                <div class="form-droup">
                                {{ field.label }}
                                {{ field }}
                                <br>
                                </div>
                            {% endfor %}
                        <br>
                         <div class="mb-3">
                            <a class="btn btn-primary" href="{% url 'password_change'%}">Change password</a>
                         </div>
                        <button type="submit" class="btn btn-outline-info">Restration</button>
                        </div>
                    </div>
            </form>
            </div>
    </div>

  </main>
</main>

{% endblock content %}
